:host {
  display: block;
}
h1{
  font-size: 25px;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;

}

.card-wrapper {
  padding: 15px;
}
.card-content {
  font-size: 14px;
}

.product-image {
  max-width: 100%;
}
