.dialog-title {
  color: #f44336; /* Color rojo */
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.dialog-content {
  font-size: 16px;
}

.dialog-actions {
  justify-content: flex-end;
}

.cancel-button {
  color: #616161; /* Color gris */
}

.confirm-button {
  color: #f44336; /* Color rojo */
}
