.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  border-color: #b1c5c3;
  border-width: 1px;
}
hr{
  color: #9cbebb;
}
.card-header {
  text-align: center;
}

.product-image {
  width: 100%;
  height: auto;
}

.card-content {
  flex-grow: 1;
}

.price {
  font-weight: bold;
  color: #009688; /* color verde */
}

.card-actions {
  display: flex;
  justify-content: space-between;
}

.eliminar {
  margin-left: auto;
}
